body {
    font-family:karla, helvetica;
    font-size:13px; /* font size */
    letter-spacing:0.03em;
    color:#000000;
    background:#ffffff;
    text-align:center;
}

a {
    text-decoration:none;
    color:#a5a5a5;
}

a:hover {
    color:#000000;
}

.title {
    font-family:inconsolata, courier;
    font-size:1.2em;
    letter-spacing:0.05em;
}

#container {
    width:80%; /* width of space the contents take up */
    margin:80px auto;
    margin-top:400px;
    margin-left: -360px;
}

.block {
    width:calc(30% - 4em);
    min-width:250px;
    margin-bottom:50px;
    overflow:hidden;
    display:inline-block;
    vertical-align:bottom;
    padding:2em;
    margin-right:1em;
    margin-left:1em;
    word-wrap:break-word;
    border:2px solid lightblue;
}

.block-info {
    overflow-y:scroll;
    height:200px;
    padding-right:4em;
    width:calc(100% + 2em + 1px);
}

#blogroll {display:none;}

#blogroll img {
    border-radius:100%;
    border:1px solid #d5d5d5;
    padding:2px;
}

.label {
    display:inline-block;
    text-align:center;
    margin-right:1em;
    margin-bottom:1em;
    width:75px;
}

p {
    margin:0.5em 0em;
}

p:first-of-type {
    margin-top:0;
}

p:last-of-type {
    margin-bottom:0;
}

.panel {
    margin:75px 0px;
}

#tags a {
    margin:0.5em;
    display:none;
}

#icon {
    width:3.7em;
    border-radius:100%;
    padding:2px;
    margin-bottom:1em;
    border:1px solid #f5f5f5;
}

#desc {
    font-style:italic;
    margin:1em 0em;
    opacity:0.7;
}

#blogroll a {
    color:#000000;
}

.pe-7s-user {
    font-size:1.5em;
}

.username {
    font-size:0.85em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.title a, .title a:hover {color:#000000;}

nav a {
    margin-right:1em;
}

nav a:last-child {
    margin-right:0;
}

#info {
    margin:1em auto;
    width:60%;
}

.dot {
    width:5px;
    height:5px;
    border-radius:100%;
    background:#a5a5a5; /* color of the dot */
    margin:0px auto;
    display:none;
    /* remove the dash and asterisk to remove dot */
}


/*

to remove the about section:
#about {display:none;}

to remove the tags section:
#tags {display:none;}

to remove the blogroll section:
#blogroll {display:none;}

if you remove 1 section, go to .block in <style> and
change 30% to 50%.

if you remove 2 sections, go to .block in <style> and
change 30% to 100%.

*/
