

/* Main */

	#main {
		padding: 4em 4em 2em 4em;
		background-color: #ffffff;
		border-radius: 4px;
	}

		#main > header:first-child {
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 2em 2em 0.1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			#main {
				padding: 2em 1em 0.1em 1em;
			}

		}
html{
	overflow-x: hidden;
}




#wrappertwo {
	width: 500px;
	margin: 20px auto;
  position: relative;top: 50px;

}
/.wrapper{
	position: relative;bottom: 120px;

}

form {
	font-family:phenixamerican;
	font-size: 25px;
  text-align: left;
	color: #000;
	width: 750px;
	height: 550px;
	padding: 30px;
  position: relative;right: 450px;

}

label {
	display: block;
	position: relative; left: 100px;
	float: left;
	clear: left;
	width: 250px;
	margin: 10px;
	line-height: 30px;


}

input, select {
	background-color: #e4e4e4;
	color: #000;
	border: 0px #fff solid;
	display: block;
	height: 46px;
	float: left;
	margin: 3px;
	width: 685px;

}


input:focus, selected:focus, textarea:focus {
	background-color: #e4e4e4;
}


textarea {
	background-color: #e4e4e4;
	color: #000;
	border: 0px #fff solid;
	display: block;
	height: 150px;
	float: left;
	margin: 10px;
	width: 685px;
	border-radius: 5px;
	position: relative; left: 100px;
}

#submit {
	background-color: #111;
	color: #fff;
	padding: 20px;
	float:left;
  position: relative;left: 580px;
	width: auto;
	text-align: center;
	line-height: 0px;
	margin: 20px;
  font-family: breamcatcher;
  font-size: 30px;
	border-radius: 5px;
}


@font-face{
	font-family:phenixamerican;
	src:url(font/phenix_american.woff)
}

@font-face{
	font-family:breamcatcher;
	src:url(font/breamcatcher-webfont.woff)
}


#contactinfo{
  width:200px;
  height:auto;
  overflow: hidden;
}
#email{
	border-radius: 5px;
	position: relative; left: 100px;
}

#username{

	border-radius: 5px;
	position: relative; left: 100px;
}

label{
	margin:1.5px;

}
