
.location {
  float:right;
}

.myImage {
  float: left;
  height: 75px;
  width: 235px;
  font-family: Veranda;
}

.type{
  float:left;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.align{
  align: middle;
}
