/* Three image containers (use 25% for four, and 50% for two, etc) */
.column{
  float: left;
  width: 20%;
  height: auto;
  padding: 5px;
  cursor: pointer;
  padding: 20px;
  border:0px solid #fff;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column:hover{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(244, 247, 53, 0.9);
-moz-box-shadow:    0px 0px 30px 0px rgba(244, 247, 53, 0.9);
box-shadow:         0px 0px 30px 0px rgba(244, 247, 53, 0.9);
}

h2{
  color:black;
}


html{
  overflow-x: hidden;
}
