/* header */
.logo {
<<<<<<< HEAD
  font-family: phenixamerican;
  font-size: 80px;
  background-color: #F7CB50;
  color: white;
  padding-top: 0px;
  padding:15px;
  margin-top:-130px;
  margin-left: -30px;
  width:105%;
}

/* .active {
    background-color: #4CAF50;
    color: white;
} */
=======
  font-family: inherit;
  font-weight: bold;
  font-size: 50px;
  background-color: #F7CB50;
  color: white;
  padding: 30px;
}

>>>>>>> 5f59011bc0b03853261d1c5b1c17a6c878921f47

a:active {
    background-color: yellow;
    color: white;

}

i {
    border: solid white;
    border-width: 0 0px 0px 0;
    display: inline-block;
    padding: 0px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: white;
}

div {
    font-style:oblique;
}

@font-face{
	font-family:phenixamerican;
	src:url(font/phenix_american.woff)
}
