<script type="text/javascript" src="http://static.tumblr.com/dbek3sy/Qyblrgjfn/jqueryinfintescroll.js"></script>

::-webkit-scrollbar {width: 5px; height: 5px; background: #FFFFFF;}
::-webkit-scrollbar-thumb {background-color:#ffcccc;}
