Barba.Pjax.start();

html{
  color: teal;
   opacity:0.5;
}

html:hover{
   opacity:1;
}


.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

.color:hover
{
        background:#53a7ea;
}

section{
  text-align:center;
  font-family:sans-serif;
  font-size:20px
}
h1{
  padding:40px;
}
section a{
  padding:20px;
  transition:all 0.3s;
}
.boton1{
  background: #eee;
  color:#088;
  text-decoration:none;
  }

.boton1:hover{
  box-shadow:0px -5px 0 #088 inset
       }

.boton2{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px -5px 0 #ddd inset;
       }
.boton2:hover{
  color:#088;
  box-shadow:0px 0px 0 #ddd inset;
       }

.boton3{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:-5px -5px 0 #ddd inset;
       }
.boton3:hover{
  color:#088;
  background:#ddd;
  box-shadow:5px 5px 0 #ccc inset;
  text-shadow:1px 1px 0 #fff
       }

.boton4{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px -30px 0 #ddd inset;
       }
.boton4:hover{
  color:#088;
  background:#ddd;
  box-shadow:0px -5px 0 #ccc inset;
  text-shadow:1px 1px 0 #fff
       }

.boton5{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px 0px 0 #ddd inset;
       }
.boton5:hover{
  color:#088;
  background:#ddd;
  box-shadow:0px -15px 10px #ccc inset;
  text-shadow:1px 1px 0 #fff
       }

.boton6{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px 0px 0 #ddd inset;
       }
.boton6:hover{
  color:#088;
  background:#ddd;
  box-shadow:0px 0px 20px 15px #ccc inset;
  text-shadow:1px 1px 0 #fff
       }


.boton7{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px 0px 0 #ddd inset;
       }
.boton7:hover{
  color:#ddd;
  background:#ddd;
  box-shadow:0px -90px 0 #088 inset;
  text-shadow:1px 1px 0 #077
       }

.boton8{
  background: #eee;
  color:#888;
  text-decoration:none;
  box-shadow:0px 0px 0 #ddd inset;
       }
.boton8:hover{
  color:#ddd;
  background:#ddd;
  box-shadow:-280px -90px 0px #088 inset;
  text-shadow:1px 1px 0 #077
       }
